body { box-sizing:border-box;padding:0;margin:0; }

#voltar_topo {
	width:100px;height:100px;
	cursor:pointer;
	position:fixed;bottom:0;right:100px;
	background-color:#aaa;
	border-radius:20px 20px 0 0;
	color:#fff;text-transform:uppercase;text-align:center;font-weight:bold;line-height:100px;
	z-index:1;
}

#lista_usuarios {
	width:996px;margin:0 auto;
	overflow:hidden;
	position:relative;
}

#caixa_pesquisa {
	width:100%;height:auto;padding:10px 0 15px 0;
	overflow:hidden;
	z-index:1;
}

#caixa_pesquisa_centro {
	width:996px;height:auto;margin:0 auto;padding:1px;
	position:relative;
	overflow:hidden;
}

.caixa_pesquisa_fixa {
	position:fixed;left:0;top:0;
	background-color:#fff;
	box-shadow:0 0 10px 1px #555;
}

#pesquisa {
	position:relative;
	width:345px;
	height:40px;
	margin:14px 35px 0 0;
	border-radius:2px;
	border:none;
	box-shadow:0 0 2px #000000;
	float:left;
	line-height:40px;
}

#campo_pesquisa {
	width:295px;
	height:30px;
	padding:0 15px;
	float:left;
	border:none;
	margin:5px 0;
	font-size:17px;
	outline:none;
}

.loader {
	width:45px;height:45px;margin:5px 0 0 0;
	cursor:pointer;
	position:absolute;right:2px;bottom:0;
	float:right;
	color:#fff;text-align:center;font-size:17px;text-transform:uppercase;font-weight:bold;line-height:45px;
	border-radius:100px;
	background-color:#4b9e61;
	transition:all 100ms;
}

.loader_circulo {
	width:45px;height:45px;margin:0;
	position:absolute;top:0px;left:0px;
	border-top:none;
	border-right:none;
	background:transparent url(../img/icones/refresh.png) center/70% no-repeat;
	transition:all 200ms;
}

.loader_circulo:active {
	background-size:50%;
}


.loader_circulo_animacao {
	opacity:1;
	animation:loader_ani 300ms infinite linear;
}

@keyframes loader_ani {
	0% {transform:rotateZ(0deg); }
	100% {transform:rotateZ(360deg);}
}

#caixa_filtro {
	padding:15px 0 15px 0;
	overflow:hidden;
	/*outline:solid 1px #000;*/
}

.campo {
	margin:0 10px 0 0;
	float:left;
}

.campo_nome {
	margin:0 0 3px 0;
	font-size:15px;
}

.nome_usuario {
	text-overflow:ellipsis;
}

#botao_pesquisa {
	height:30px;
	position:absolute;
	padding-right:10px;
	font-size:22px;
	line-height:30px;
	right:2px;
	top:5px;
	cursor:pointer;
}

#lista {
	width:996px;height:auto;margin:0;padding:20px 0;
	float:left;
	overflow:hidden;
}

#linha_tempo {
	margin:167px 0 0 50px;
	float:left;
}

.linha_titulo {
	padding:0 0 10px 0;
	font-size:22px;
}

.linha_data {
	width:100px;margin:0px 0px 5px 0px;padding:7px 20px;
	cursor:pointer;
	border:solid 1px #2196f3;
	border-radius:3px;
	color:#2196f3;text-align:center;font-size:18px;
	transition:all 100ms;
}

.data_selecionado {
	width:120px;
	background-color:#2196f3;
	color:#fff;
}

.linha_principal {
	overflow:hidden;
}

.linha {
	height:108px;width:920px;margin:5px 0;padding:20px 30px;
	overflow:hidden;
	cursor:pointer;
	border:solid 1px #e0e0e0;
	user-select:none;
	transition:all 250ms;
}

.expandido {
	height:216px;
}

.linha_verde {
	border-right:solid 15px #6ce679;
}

.linha_vermelha {
	border-right:solid 15px #e74c3c;
}

.esquerda {
	width:200px;height:100%;margin:0 20px 0 0;
	float:left;
}

.traco {
	width:10px;height:3px;margin:30px auto 0 auto;
	border-top:solid 2px #aaa;
}

.img_usuario {
	width:108px;height:108px;margin:0 auto;
	background:#ddd center/cover no-repeat;
	border-radius:100%;
}


.tipo_usuario {
	margin:15px 0 0 0;
	text-align:center;font-size:21px;
}

.direita {
	width:700px;height:100%;margin:0;
	float:left;
	overflow:hidden;
	transition:all 250ms;
}

.sub {
	height:100%;
	float:left;
}

.sub:nth-child(1) {width:40%;}
.sub:nth-child(2) {width:40%;}
.sub:nth-child(3) {width:15%;}

.item {
	margin:0 0 2px 0;
	text-align:left;text-transform:uppercase;font-size:14px;
}

.cont {
	margin:0 0 15px 0;
	text-align:left;font-size:17px;
}

.img_seta {
	width:60px;height:60px;margin:5px auto 20px auto;
	background:transparent center/100% no-repeat;
	opacity:0.7;
}

.texto_acao {
	text-align:center;font-size:17px;
}

.seta_esquerda {
	background-image:url("../img/icones/seta_esq.png");
}

.seta_direita {
	background-image:url("../img/icones/seta_dir.png");
}

.nada_encontrado {
	padding:50px 0;
	display:none;
	text-align:center;font-size:22px;
	transition:all 100ms;
}

.data_campo {
	width:150px;height:30px;margin:0;padding:0 0 0 10px;
	display:block;
	outline:none;
	font-size:17px;
}

.data_campo::-webkit-inner-spin-button {
	display:none;
}

.data {
	width:100px;margin:30px 10px 5px 0px;padding:5px 15px 5px 5px;
	background-color:#872645;
	border-radius:5px 5px 30px 5px;
	color:#fff;text-align:center;font-size:17px;
}

#teste {
	width:100px;height:100px;
	position:fixed;top:0;left:1010px;
	outline:solid 1px #000;
}

.lista {
	width:150px;height:34px;margin:0;padding:0 0 0 10px;
	display:block;
	outline:none;
	text-transform:capitalize;font-size:17px;
}

#lbl_tipo_usuario {
	width:200px;height:30px;
	line-height:30px;font-size:17px;
	outline:none;
}

.indice_pagina {
	height:32px;
	overflow-x:scroll;
	/*overflow-y:none;*/
	display:flex;
}

.indice {
	width:30px;height:30px;margin:1px;
	float:left;
	min-width:30px;
	background-color:#f0f0f0;
	border:solid 1px #aaa;
	color:#000;text-align:center;font-size:17px;line-height:30px;
}

#btn_ver_mais {
	width:400px;height:60px;margin:30px auto;
	cursor:pointer;
	display:block;
	outline:none;
	border:solid 1px #ffc55a;
	border-radius:5px;
	background-color:#ffc55a;
	color:#fff;text-align:center;line-height:60px;font-size:17px;text-transform:uppercase;
	transition:all 100ms;
}

#btn_ver_mais > span {
	padding:0 0 0 10px;
	font-weight:bold;
}

#btn_ver_mais:active {
	background-color:#fff;
}

.pg {
	padding:10px 0;
	font-size:17px;
}