 /*Formatações em geral */
* {font-family:arial, sans-serif;}

body {margin:0;background-color:#f5f5f5;}

/* Itens de Formulário */
.form_txt {
	padding:0px 10px;
	display:block;
	outline:none;
	border:solid 1px #aaa;
	font-size:17px;
}
	
.form_btn {
	display:block;
	outline:solid 2px #333;border:none;
	color:#333;font-weight:bold;
	text-transform:uppercase;background-color:#fff;
	transition:all 100ms;
	cursor:pointer;
}
/******************/

#corpo {
	width:100%;min-width:1000px;height:auto;
	background-color:transparent;
}
/*****************/



/* Cabeçalho */
header {
	width:100%;min-width:1000px;height:200px;
	background-color:#fff;
}

#us_info {
	width:300px;height:auto;margin:30px 20px;
	float:right;
}

.us_item {
	color:#555;text-align:right;font-size:20px;
	display:block;
}

#us_tipo {
	padding:4px 0;
	text-transform:uppercase;font-size:12px;
}

#centro {
	width:1000px;height:100%;margin:0 auto;
}

#logo {
	width:350px;height:200px;
	background:transparent url(../img/empresarial_logo.png) center/auto 170px no-repeat;
	color:#555;text-align:center;line-height:200px;font-size:20px;
}
/*******************/


/* Conteúdo */
#conteudo {
	width:1000px;height:auto;margin:0 auto;padding:0 0 100px 0;
	overflow:hidden;
}

.tit {
    display: block;
	width: 100%;
    margin: 30px  auto 2px auto;
    color: #555;
    font-weight: bold;
    text-align:center;
    font-size: 24px;
}

#formulario_cadastro {
	width: 50%;
	height: auto;
	margin: 20px auto;
}

#formulario_cadastro input[type="text"] {
	width: 200px;
	height: 45px;
	margin: 10px auto;
}

#formulario_cadastro input[type="submit"] {
	width: 150px;
	height: 40px;
	margin: 25px auto;
}

#formulario_cadastro input[type="file"] { display: none; }

.upload_arquivo {
	width:220px;
	height:45px;
	background: #fff;
	border: solid 1px #aaa;
	border-radius:5px;
	overflow:hidden;
	margin:10px auto;
	
}

#nome_arquivo {
	width:75%;
	height:100%;
	float:left;
	font-size:18px;
	line-height:42px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align:center;
}

#botao_upload:focus { outline: none; }

#botao_upload {
	width:25%;
	height:100%;
	float:left;
	border:none;
	background:#aaa url("../img/ic_upload.png") no-repeat 5px 7px / 80% auto;
	cursor:pointer;
}

#ic_home {
	display: block;
    width: auto;
    text-align: right;
    float: unset;
}
/*****************