@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body { box-sizing:border-box;padding:0;margin:0; }

#principal {
	width: 1500px;
	height: auto;
	overflow: hidden;
	margin: auto;
	padding: 5px;
}

#principal #logoSextou {
	width: 150px;
	height: 40px;
	background: url("../img/sextou_logo-01.png") center / contain no-repeat;
	left:87%;
	top:80%;
}

header {
	width: 100%;
	height: 150px;
}

header #logo {
	width: 210px;
	height: 135px;
	background: #bbb;
	margin: 10px 22px;
	float: left;
	background: url("../img/empresarial_logo.png") center / 100% 100% no-repeat;
}

header label {
	display: block;
	height:100%;
	line-height: 150px;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.container_contador {
	width: 180px;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	background: #2c8cdb;
	margin: 5px 20px;
	color: #fff;
}

.container_contador .icone {
	width: 20px;
	height: 20px;
	margin: 5px;
	float: left;
	background: url(../img/ic_usuarioGrupo.png) center / 100% 100% no-repeat;
}

.container_contador label {
	display: block;
	height: 100%;
	line-height: 30px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 2px;
	float: left;
}

.container_contador .qtde_usuarios {
	width: 30px;
	height: 30px;
	background: #ccefa1;
	float: left;
	margin: 0 0 0 10px;
	border-radius: 100%;
}

.container_contador .qtde_usuarios label {
	display: block;
	width: 90%;
	font-size: 12px;
	text-align: center;
	color: #000;
}

#usuarios_inativos {
	width: 99%;
	height: 475px;
	padding: 5px;
	border: solid 1px #ccc;
	margin: 10px 0;
	overflow: hidden;
}

#usuarios_inativos #cardsInativos {
	display:table;
	width:auto;
	height:85%;
	margin:auto;
}

.card_usuario {
	width: 120px;
	height: 150px;
	margin: 5px 1px;
	float: left;
	transition: all 1s ease;
}

.card_usuario .img {
	width: 100px;
	height: 100px;
	margin: 5px;
	background: url(../img/icon_persona.png)  contain no-repeat;
	border-radius:100%;
}

.card_usuario .nome_usuario {
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
	line-height: 30px;
}