@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('../assets/font-awesome/css/font-awesome.css');

*{
	margin: 0;
	font-family: Arial;
}

.fundo{
	width: 100%;
	height: 1000px;
	background: #e1e3f5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e1e3f5, #bfb9f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e1e3f5, #bfb9f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e1e3f5, #bfb9f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e1e3f5, #bfb9f1); /* Standard syntax */
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.esp_topo{
	width: 100%;
	height: 200px;
	position: relative;
    float: left;
}

.box_topo{
	width: 1120px;
	height: 100%;
	position: relative;
    margin: 0 auto;
}

.box_logo{
	width: 240px;
	height: 180px;
	position: relative;
	margin-top: 5px;
	margin-left: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-image: url(../img/logos/empresarial_logo.png);
    float: left;
}

.esp_meio{
	width: 100%;
	height: 655px;
	float: left;
}

.box_meio{
	width: 1250px; 
	height: 100%;
	border:1px solid #d6d6d6;
	margin: 0 auto;
}

.box_lista{
	width: 493px;
	height: 100%;
	border:1px solid #d6d6d6;
	float: left;
	background-color: #ffffff;
	clear: both;
	overflow: auto;
}

.esp_ultimo_usuario{
	width: 753px;
	height: 313px;
	border:1px solid #d6d6d6;
	background-color: #ffffff;
	float: left;
	position: relative;
	z-index: 900;
	white-space: nowrap;
    overflow: hidden;
}

.box_parte_cinza{
	width: 755px;
	height: 340px;
	background-color: #d6d6d6;
	float: left;
}

.box_item_lista{
	width: 100%;
	height: 170px;
	border-bottom: 1px solid #d6d6d6;
}

.box_foto_item_lista{
	width: 100px;
	height: 130px;
	border:1px solid black;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.box_foto_item_lista_jpg{
	width: 130px;
    height: 100px;
    border: 1px solid black;
    margin-left: 0px;
    margin-top: 30px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
}

.box_dados_item_lista{
	width: 289px;
	height: 130px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.box_dados_item_lista_jpg{
	width: 289px;
	height: 130px;
	float: left;
	margin-top: 15px;
	margin-left: -5px;
}

.box_nome_item_lista{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 20px; 
	color: blue;
}

.topico_item_lista{
	height: 16px;
	line-height: 16px;
	font-size: 16px; 
	font-weight: bold;
	float: left;
}

.valor_item_lista{
	height: 16px;
	line-height: 16px;
	font-size: 16px; 
	float: left;
}

.liberado{
	font-weight: bold;
	color: green;
}

.bloqueado{
	font-weight: bold;
	color: red;
}
.box_ultimo_usuario{
	position: relative;
	width: 753px;
	height: 313px;
	display: inline-block;
    vertical-align: middle;
}

.box_foto_ultimo_usuario{
	position: relative;
	margin-left: 20px;
	margin-top: 40px;
	width: 170px;
	height: 223px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	border:1px solid black;
	float: left;
}

.box_foto_ultimo_usuario_jpg{
	position: relative;
	margin-left: 0px;
	margin-top: 80px;
	width: 223px;
	height: 170px;
	border:1px solid black;
	float: left;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    transform: rotate(90deg);
}

.box_dados_ultimo_usuario{
	position: relative;
	width: 510px;
	height: 223px;
	margin-top: 55px;
	margin-left: 10px;
	float: left;
}

.box_dados_ultimo_usuario_jpg{
	position: relative;
	width: 510px;
	height: 223px;
	margin-top: 55px;
	margin-left: 10px;
	float: left;
}

.box_nome_ultimo_usuario{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 30px; 
	color: blue;
}

.topico_ultimo_usuario{
	height: 25px;
	line-height: 25px;
	font-size: 25px; 
	font-weight: bold;
	float: left;
}

.valor_ultimo_usuario{
	height: 25px;
	line-height: 25px;
	font-size: 25px; 
	float: left;
}

.linha_topo{
	height: 30px;
	width: 100%;
	float: left;
}

.linha{
	height: 25px;
	width: 100%;
	float: left;
}

/* LOADER */
#background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 5;
}

#loader_container {
	width:550px;
	height:auto;
	padding:15px;
	margin:15% auto;
	background:#fff;
}

#bola {
	position:relative;
	width:40px;
	height:40px;
	background:#ffc55a;
	border-radius:100%;
	margin:0 10px 0 5px; 
	float:left;
	transition: all 100ms ease;
	animation:pular 400ms ease infinite alternate;
	top:-5px;
}

.iniciar_animacao {
	animation:pular 400ms ease infinite alternate;
}

@keyframes pular {
	0% {top:10px;height:35px;border-radius:100% 100% 5px 5px;}
	35% {top:-5px;height:40px;border-radius:100%;}
	100% { top:-10px;height:40px;border-radius:100%;}
}

@keyframes parar {
	0% {top:10px;height:35px;border-radius:100% 100% 5px 5px;}
	100% { top:-5px;height:40px;border-radius:100%;}
}


#loader_container span {
	display:block;
	width:auto;
	margin:1% 0;
	font-size:24px;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height:24px;
	color:#000;
}

#principal {
	width: 1500px;
	height: auto;
	overflow: hidden;
	margin: auto;
	padding: 5px;
}

#principal #logoSextou {
	width: 150px;
	height: 40px;
	/*background: url("../img/logos/sextou_logo-01.png") center / contain no-repeat;*/
	left:87%;
	top:80%;

}

header {
	width: 100%;
	height: 230px;
}

header #logo {
	width: 210px;
	height: 135px;
	background: #bbb;
	margin: 10px 22px;
	float: left;
	background: url("../img/logos/empresarial_logo.png") center / 100% 100% no-repeat;
}


header label {
	line-height: 150px;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}



.container {
	display: table;
	width:auto;
	height: auto;
	padding: 15px;
	background: #eee5;
	box-shadow:0 2px 10px #0002;
	margin: 50px auto;
}

.container_logo {
	width: 150px;
	height: 150px;
	margin: auto;
	background: url("../img/logos/empresarial_logo.png") center / contain no-repeat
}

.container_tit {
	padding:10px 0;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	line-height:31px;
	margin:10px 0;
	font-family: 'Source Sans Pro', sans-serif;
}

#voltar {
	cursor:pointer;
	float:left;
	font-size:45px;line-height:31px;
}

.lbl_container {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin: 10px 0 5px 0;
}

.form_txt, .form_cbo {
	display: block;
	width: 350px;
	height: 28px;
	border-radius: 2px;
	border: solid 1px #0002;
	padding: 5px;
}

.form_btn {
	width: 360px;
	height: 35px;
	border: none;
	border-radius: 2px;
	margin: 20px 0 5px 0;
	background: #1779ba;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

.real_checkbox { display: none; }

.form_chb {
	width: auto;
	margin: 10px 10px 10px 0;
	float: left;
}

.fake_checkbox {
	display:inline-block;
	width: 15px;
	height: 15px;
	border: solid 1px #000;
	border-radius: 2px;
	cursor: pointer;
	margin: 2px 5px 2px 0;
	float: left;
	position: relative;
}

.fake_checkbox_active:after {
	position: absolute;
	top: -1px;
	right: -1px;
	content: '\f00c';
	font-family: 'FontAwesome';
	font-size: 16px;
}

.lbl_checkbox {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 22px;
}

.lbl_info {
	display: block;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #1779ba;
	text-align: center;
	text-decoration: none;
	margin: 5px 0 0 0;
	cursor: pointer;
}

.upload_arquivo {
	width:360px;
	height:35px;
	background: #fff;
	border: solid 1px #aaa;
	border-radius:5px;
	overflow:hidden;
	margin:10px 0;
	
}

#nome_arquivo {
	width:75%;
	height:100%;
	float:left;
	font-size:18px;
	line-height:42px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align:center;
}

#botao_upload:focus { outline: none; }

#botao_upload {
	width: 40px;
    height: 35px;
    float: right;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 36px;
    color: #fff;
    background: #ccc;
    padding: 2px;
}

#menu {
	display: flex;
	width: auto;
	height: 45px;
	margin: 0 250px;
	align-items: center;
	justify-content: space-around;
	padding: 0 10px;
}

.item_menu {
	display: inline-block;
	width: auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

.item_menu .fa {
	font-size: 26px;
}

/********* NOTIFICAÇÃO *********/
.sucesso { background:#d6e9c6;color:#3c763d; }
.info { background:#d9edf7;color:#31708f; }
.erro { background:#f2dede;color:#a94442; }
.aviso { background:#fcf8e3;color:#8a6d3b; }

.notificacao {
	display: none;
	width:auto;
	height:25px;
	margin:10px auto;
	padding:10px;
	border-radius:5px;
	box-shadow:0 2px 5px #0002;
	line-height:25px;
}

.notificacao .titulo { font-weight:bold;font-size:16px; }
.notificacao .conteudo { font-size:16px; }
.notificacao .fechar { font-size:16px;float:right;line-height:25px;cursor:pointer;margin:0 0 0 15px; }

}

/*****************