*{
	margin: 0;
	font-family: Arial;
}

.fundo{
	width: 100%;
	height: 1000px;
	background: #e1e3f5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e1e3f5, #bfb9f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e1e3f5, #bfb9f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e1e3f5, #bfb9f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e1e3f5, #bfb9f1); /* Standard syntax */
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.esp_topo{
	width: 100%;
	height: 200px;
	position: relative;
    float: left;
}

.box_topo{
	width: 1120px;
	height: 100%;
	position: relative;
    margin: 0 auto;
}

.box_logo{
	width: 240px;
	height: 180px;
	position: relative;
	margin-top: 5px;
	margin-left: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-image: url(../img/empresarial_logo.png);
    float: left;
}

.esp_meio{
	width: 100%;
	height: 655px;
	float: left;
}

.box_meio{
	width: 1250px; 
	height: 100%;
	border:1px solid #d6d6d6;
	margin: 0 auto;
}

.box_lista{
	width: 493px;
	height: 100%;
	border:1px solid #d6d6d6;
	float: left;
	background-color: #ffffff;
	clear: both;
	overflow: auto;
}

.esp_ultimo_usuario{
	width: 753px;
	height: 313px;
	border:1px solid #d6d6d6;
	background-color: #ffffff;
	float: left;
	position: relative;
	z-index: 900;
	white-space: nowrap;
    overflow: hidden;
}

.box_parte_cinza{
	width: 755px;
	height: 340px;
	background-color: #d6d6d6;
	float: left;
}

.box_item_lista{
	width: 100%;
	height: 170px;
	border-bottom: 1px solid #d6d6d6;
}

.box_foto_item_lista{
	width: 100px;
	height: 130px;
	border:1px solid black;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.box_foto_item_lista_jpg{
	width: 130px;
    height: 100px;
    border: 1px solid black;
    margin-left: 0px;
    margin-top: 30px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
}

.box_dados_item_lista{
	width: 340px;
	height: 130px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.box_dados_item_lista_jpg{
	width: 340px;
	height: 130px;
	float: left;
	margin-top: 15px;
	margin-left: -5px;
}

.box_nome_item_lista{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 20px; 
	color: blue;
	margin-top: 4px;
}

.topico_item_lista{
	height: 16px;
	line-height: 16px;
	font-size: 16px; 
	font-weight: bold;
	float: left;
}

.valor_item_lista{
	height: 16px;
	line-height: 16px;
	font-size: 16px; 
	float: left;
}

.liberado{
	text-decoration: none;
	color: white;
	width: 100px;
	background: #0d8914;
	top: 100px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #0a6a10, 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
	text-align:center;
	cursor:pointer;
	margin-left:10px;
	z-index: 90000;
}

.liberado:active{
  margin-top:5px;
  box-shadow: 0px 0px 0px 0px #0a6a10, 0px 0px 20px 0px #bbb;
}

.bloqueado{
	background-color: #F2385A;
}
.box_ultimo_usuario{
	position: relative;
	width: 753px;
	height: 313px;
	display: inline-block;
    vertical-align: middle;
}

.box_foto_ultimo_usuario{
	position: relative;
	margin-left: 20px;
	margin-top: 40px;
	width: 170px;
	height: 223px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	border:1px solid black;
	float: left;
}

.box_foto_ultimo_usuario_jpg{
	position: relative;
	margin-left: 0px;
	margin-top: 80px;
	width: 223px;
	height: 170px;
	border:1px solid black;
	float: left;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    transform: rotate(90deg);
}

.box_dados_ultimo_usuario{
	position: relative;
	width: 510px;
	height: 223px;
	margin-top: 55px;
	margin-left: 10px;
	float: left;
}

.box_dados_ultimo_usuario_jpg{
	position: relative;
	width: 510px;
	height: 223px;
	margin-top: 55px;
	margin-left: 10px;
	float: left;
}

.box_nome_ultimo_usuario{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 30px; 
	color: blue;
}

.topico_ultimo_usuario{
	height: 25px;
	line-height: 25px;
	font-size: 25px; 
	font-weight: bold;
	float: left;
}

.valor_ultimo_usuario{
	height: 25px;
	line-height: 25px;
	font-size: 25px; 
	float: left;
}

.linha_topo{
	height: 30px;
	width: 100%;
	float: left;
}

.linha{
	height: 25px;
	width: 100%;
	float: left;
	margin-top: 4px;
}

.linha_lista{
	height: 16px;
	width: 100%;
	float: left;
	margin-bottom: 4px;
}

.bloqueado{
	text-decoration: none;
	color: white;
	width: 100px;
	background: #da1b24;
	top: 100px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #bc171f, 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
	text-align:center;
	cursor:pointer;
	margin-left: 10px;
	z-index: 90000;
}

.bloqueado:active{
  margin-top:5px;
  box-shadow: 0px 0px 0px 0px #bc171f, 0px 0px 20px 0px #bbb;
}

.linha_botao{
	margin-top:15px;
	line-height:0px;
}

.linha_botao_ultimo_usuario{
	line-height:40px;
	margin-top:40px;
}

.box_dados_ultimo_usuario_jpg > .bloqueado{
	text-decoration: none;
	color: white;
	width: 100px;
	background: #da1b24;
	top: 100px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #bc171f, 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
	text-align:center;
	cursor:pointer;
	margin-left:20px;
	margin-top: 40px;
	z-index: 90000;
}

.box_dados_ultimo_usuario_jpg > .bloqueado:active{
	margin-top:45px;
  	box-shadow: 0px 0px 0px 0px #bc171f, 0px 0px 20px 0px #bbb;
}

.box_dados_ultimo_usuario_jpg > .liberado{
	text-decoration: none;
	color: white;
	width: 100px;
	background: #0d8914;
	top: 100px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #0a6a10, 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
	text-align:center;
	cursor:pointer;
	margin-left:20px;
	margin-top: 40px;
	z-index: 90000;
}

.box_dados_ultimo_usuario_jpg > .liberado:active{
	margin-top:45px;
  	box-shadow: 0px 0px 0px 0px #0a6a10, 0px 0px 20px 0px #bbb;
}

.box_dados_ultimo_usuario_jpg > .doc{
	text-decoration: none;
	color: white;
	width: 100px;
	background: #0b60ef;
	top: 100px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #0a53cf, 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
	text-align:center;
	cursor:pointer;
	margin-left:20px;
	margin-top:40px;
	z-index: 90000;
}

.box_dados_ultimo_usuario_jpg > .doc:active{
	margin-top:45px;
  	box-shadow: 0px 0px 0px 0px #0a53cf, 0px 0px 20px 0px #bbb;
}

.doc{
	text-decoration: none;
	color: white;
	width: 100px;
	background: #0b60ef;
	top: 100px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #0a53cf, 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
	text-align:center;
	cursor:pointer;
	margin-left:10px;
	z-index: 90000;
}

.doc:active{
  margin-top:5px;
  box-shadow: 0px 0px 0px 0px #0a53cf, 0px 0px 20px 0px #bbb;
}